body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  50%;
    margin-top: 12.5%;
    border: 1px solid black;
    background-color: azure;
    padding-bottom: 2%;
}

#qTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50%;
    border: 1px solid black;
    background-color: azure;
}

#questContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50%;
    height: 300px;
    border: 1px solid black;
    background-color: azure;
}

#end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  50%;
    border: 1px solid black;
    background-color: azure;
}

.hidden {
    display: none;
    visibility: hidden;
}