* {
    color: darkgrey;
}
body {
    background-color: antiquewhite;
}

#startPage {
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  50%;
    margin-left: 25%;
    margin-top: 12.5%;
    border: 1px solid black;
    padding: 5%;
}

#qTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width:  50%;
    border: 1px solid black;
}

#questContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  50%;
    height: 300px;
    border: 1px solid black;
    margin-left: 25%;
}

#end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  50%;
    border: 1px solid black;
    margin-left: 25%;
}

.hidden {
    display: none;
    visibility: hidden;
}